.change-category-form {

}

.change-category-form:hover {
    opacity: 1;
}

.change-form {
    display: flex;
    flex-direction: row;
    margin: 0 20px;
}

.change-input {
    width: 300px;
    border-radius: 4px;
    outline: transparent;
    align-self: center;
    font-size: 30px;
    padding: 10px;
    border: 1px solid #ce0053;
    background: rgba(255, 255, 255, 0.5);
}

.change-btn {
    border-radius: 4px;
    color: white;
    background: #ce0053;
    margin: 0 5px;
    border: transparent;
    font-size: 22px;
    font-weight: 900;
    width: 100px;
}
