.change-category-form {

}

.change-category-form:hover {
    opacity: 1;
}

.change-form {
    display: flex;
    flex-direction: row;
    margin: 0 20px;
}

.change-input {
    width: 300px;
    border-radius: 4px;
    outline: transparent;
    align-self: center;
    font-size: 30px;
    padding: 10px;
    border: 1px solid #ce0053;
    background: rgba(255, 255, 255, 1);
    z-index: 3;
    text-transform: uppercase;
}

.change-input:not(:placeholder-shown) ~ .change-btn {
    opacity: 1;
    transform: translateX(0);
    width: 100px;
}

.change-btn {
    border-radius: 4px;
    color: white;
    background: #ce0053;
    margin: 0 5px;
    border: transparent;
    font-size: 30px;
    font-weight: 900;
    opacity: 0;
    transition: .3s ease;
    transform: translateX(-45px);
    width: 0;
    z-index: 2;
}
