.previous-container {
    border-radius: 4px;
    display: grid;
}

.view-previous-btn {
    border-radius: 0 4px 4px 0;
    color: white;
    background: #7b00ce;
    border: transparent;
    font-size: 8px;
    font-weight: 900;
    height: 60px;
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 5;
    text-transform: uppercase;
}

.fa-archive {
    font-size: 30px;
    margin-bottom: 2px;
}

.view-previous-btn:hover ~ .previous-list-container {
    opacity: 1;
    transform: translateX(62px) translateY(0) scaleY(1);
    pointer-events: all;
}

.previous-list-container {
    opacity: 0;
    height: auto;
    max-height: 98vh;
    transform: translateX(62px) translateY(-500px) scaleY(0);
    background: white;
    border-radius: 4px;
    margin-top: 10px;
    transition: all .5s ease;
    overflow: scroll;
    padding: 8px;
    position: fixed;
    top: 0;
    z-index: 4;
    pointer-events: none;
}

.previous-list-container:hover {
    transform: translateX(62px);
    opacity: 1;
    pointer-events: all;
    height: auto;
    max-height: 98vh;
}

#throwback {
    height: 200px;
    position: relative;
    top: -50px;
}

.previous-ul {
    list-style: none;
    color: #ce0053;
    padding: 0;
    margin: 0;
    width: 400px;
    position: relative;
    top: -100px;
}

.previous-ul li {
    display: grid;
    grid-template-columns: 30% 50% 20%;
    margin: 10px 2px;
    align-items: center;
    border: 1px solid #EF7674;
    border-radius: 4px;
}

.previous-ul li img {
    width: 80px;
    height: 80px;
}

.previous-ul li a {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #ce0053;
    text-decoration: transparent;
    font-size: 15px;
    font-weight: 900;
}

.heart-icon {
    color: #d0c7c7;
}

.heart-icon:hover {
    color: #ce0053;
}