.App {
    text-align: center;
    height: 100vh;
}

img {
    height: 100vh;
    width: 100vw;
}

.controls {
    position: absolute;
    top: 10px;
    display: flex;
    flex-direction: row;
     opacity: 0;
    transition: 1s ease-in-out;
    width: 100%;
}

.controls:hover {
    opacity: 1;
}

.next-btn {
    border-radius: 4px;
    color: white;
    background: #ce0053;
    border: transparent;
    font-size: 22px;
    font-weight: 900;
    position: absolute;
    right: 20px;
    height: 100%;
    width: 100px;
}

