.App {
    text-align: center;
    height: 100vh;
}

img {
    height: 100vh;
    width: 100vw;
}

.gif-ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.gif-ul li {
    border: 1px solid red;
}

a {
    width: 100vw;
    height: 100vh;
}

.giphy-carousel {
    height: 100vh;
    width: 100vw;

    overflow: scroll;
}

.css-1s2780s {
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: inherit !important;
    position: relative;

}

.css-1gtuxca {

    height: 100vh !important;
    width: 100vw !important;
}

.giphy-gif-img {
    position: absolute;
    top: 0;
    left: -1px !important;
    right: 0;
    bottom: 0;
}